html,body{
	width:100%; height:100%;
	margin:0;
	background: #fff;
	color: #333;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 23px;
	font-weight: 100;
	line-height: 1.4em;
}

#content{
    width: 800px;
    margin: 0 auto;
    padding: 100px 0;
}
a{
    color: hsl(220deg 100% 63%);
    transition: color 0.1s;
}
a:hover{
    color: hsl(220deg 100% 78%);
}
